#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>

/ {
	keymap {
		compatible = "zmk,keymap";
		layer_0 {
			bindings = <
				&bootloader
				&kp GRAVE        &kp NUMBER_1 &kp NUMBER_2 &kp NUMBER_3   &kp NUMBER_4 &kp NUMBER_5 &kp MINUS        &kp EQUAL         &kp NUMBER_6 &kp NUMBER_7   &kp NUMBER_8    &kp NUMBER_9  &kp NUMBER_0  &kp PAUSE_BREAK
				&kp TAB          &kp Q        &kp W        &kp E          &kp R        &kp T        &kp LEFT_BRACKET &kp RIGHT_BRACKET &kp Y        &kp U          &kp I           &kp O         &kp P         &kp BACKSPACE
				&kp CAPSLOCK     &kp A        &kp S        &kp D          &kp F        &kp G                                           &kp H        &kp J          &kp K           &kp L         &kp SEMICOLON &kp RETURN
				&kp LEFT_SHIFT   &kp Z        &kp X        &kp C          &kp V        &kp B        &kp BACKSLASH    &kp SINGLE_QUOTE  &kp N        &kp M          &kp COMMA       &kp PERIOD    &kp SLASH     &kp RIGHT_SHIFT
				&kp LEFT_CONTROL &kp LEFT_GUI &kp LEFT_ALT &kp LEFT_ARROW &kp UP_ARROW                                                              &kp DOWN_ARROW &kp RIGHT_ARROW &kp RIGHT_ALT &kp RIGHT_GUI &kp RIGHT_CONTROL
				                                                                       &kp F6       &kp F5           &kp F8            &kp F7
				                                                          &kp F4       &kp F3       &kp F2           &kp F11           &kp F10      &kp F9
				                                                                                    &kp F1           &kp F12
			>;
		};
	};
};
